@import url("https://fonts.googleapis.com/css?family=Slabo+27px");
body {
  font-family: 'Slabo 27px', serif;
}

#title {
  color: #070026;
  font-size: 4em;
  text-align: right;
  margin-right: 10%;
  margin-top: 55px;
  font-weight: bolder;
  letter-spacing: 3px;
}

#graph-explain {
  text-align: left;
  margin-left: 10%;
  margin-top: -20px;
  margin-bottom: 55px;
}

#root-svg {
  background: #f2f2f2;
  box-shadow: 4px 4px 26px;
  border-radius: 4px 4px 4px;
  display: block;
  margin: 0 auto;
}

.y-axis {
  font-size: 0.8em;
  text-anchor: middle;
}

.heat-map-data {
  background-color: #f2f2f2;
  color: black;
  text-align: center;
  position: absolute;
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 5px 5px 5px;
  box-shadow: 2px 2px 2px #f2f2f2;
}
.heat-map-data h1 {
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 1.5px;
}

#part-2 {
  width: 80%;
  display: block;
  margin: 40px auto;
}

#left-half {
  background: #f2f2f2;
  box-shadow: 4px 4px 26px;
  border-radius: 4px 4px 4px;
  background: #070026;
  display: inline-block;
  float: left;
  width: 45%;
  margin: 2.5%;
}
#left-half h2 {
  text-align: center;
  padding: 40px;
  color: white;
}

#right-half {
  background: #f2f2f2;
  box-shadow: 4px 4px 26px;
  border-radius: 4px 4px 4px;
  margin: 2.5%;
  display: inline-block;
  float: right;
  width: 45%;
}
#right-half h4 {
  text-align: center;
  padding: 10px;
}
#right-half i {
  display: block;
  text-align: center;
  margin: 20px;
}

#bottom-left {
  background: #f2f2f2;
  box-shadow: 4px 4px 26px;
  border-radius: 4px 4px 4px;
  margin: 2.5%;
  margin-top: 75px;
  display: inline-block;
  float: left;
  width: 45%;
  text-align: center;
}
#bottom-left h4 {
  margin: 15px;
  padding: 20px;
}
#bottom-left a {
  font-size: 3em;
  color: #070026;
}

#footer-credit {
  color: #070026;
  display: inline-block;
  margin: 35px auto;
  width: 100%;
  text-align: center;
}
